<!DOCTYPE html>
<html>
<head>
	<title>Idea Hacks 2016</title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div style="background-image: url('https://images.unsplash.com/photo-1444824775686-4185f172c44b?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1325'); width: 100%; height: 100%; background-size: cover; display: block;">
		<div class="inner">
			<h1>Beats by Myo.</h1>
			<a href="/main">PRODUCE</a>
		</div>

	</div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
<script src="javascripts/myo.js"></script>
<script src="javascripts/main.js"></script>
</html>
