<!doctype html>

<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"  />
	<meta name="viewport" content="width=device-width">
	<title>ideahacks 2016</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/> -->
	<style type="text/css">

	button.slick-prev.slick-arrow {
	    background-color: white;
	    border: none;
	}
	button.slick-next.slick-arrow {
	    background-color: white;
	    border:none;
	}
	</style>
</head>

<body>
	<h1 id="title"><img src="images/logo1.png"></h1>

	<div class="carousel">
		<div class="launchpad">
			<div class="pad-wrapper">
				<div id="pad1"></div>
				<p>Label 1</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad2"></div>
				<p>Label 2</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad3"></div>
				<p>Label 3</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad4"></div>
				<p>Label 4</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad5"></div>
				<p>Label 5</p>
			</div>
		</div>
		<div class="launchpad">
			<div class="pad-wrapper">
				<div id="pad1"></div>
				<p>Label 1</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad2"></div>
				<p>Label 2</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad3"></div>
				<p>Label 3</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad4"></div>
				<p>Label 4</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad5"></div>
				<p>Label 5</p>
			</div>
		</div>
		<div class="launchpad">
			<div class="pad-wrapper">
				<div id="pad1"></div>
				<p>Label 1</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad2"></div>
				<p>Label 2</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad3"></div>
				<p>Label 3</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad4"></div>
				<p>Label 4</p>
			</div>
			<div class="pad-wrapper">
				<div id="pad5"></div>
				<p>Label 5</p>
			</div>
		</div>
	</div>
	<button id="playLoop">Play Loop</button>
	<br>
	<button id="pauseLoop">Pause Loop</button>

	<div class="feed">
		<h1><img src="/images/inspiration.png"></h1>
		<div id="item1">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/228547412&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
		<div id="item2">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/233212931&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
		<div id="item3">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/233354436&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
		<div id="item4">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/202598284&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
		<div id="item5">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/218595684&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
		<div id="item6">
			<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/221324914&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>
	</div>

	<div id="bottom-bar">
		<div id="show"><h3>Myo Gesture Guide</h3></div>
		<div id="instruments">
			<span id="instruments-grid">
				<ul style="padding: 0;">

				<!-- <li class="instruments-icon" id="active">1</li>
					<a href="/main2"><li class="instruments-icon">2</li></a>

					<li class="instruments-icon">3</li>
					<li class="instruments-icon">4</li> -->
					<img src="images/fist.png" style="height: 70px">
					<img src="images/open.png" style="height: 70px">
					<img src="images/pinch.png" style="height: 70px">
					<img src="images/wave_in.png" style="height: 70px">
					<img src="images/wave_out.png" style="height: 70px">
				</ul>
			</span>
		</div>
	</div>


    <img src="images/allison.png" id = "image1" class="popup"> 
    <img src="images/chang.png" id = "image2" class="popup"> 
    <img src="images/grant.png" id = "image3" class="popup"> 
    <img src="images/jasmine.png" id = "image4" class="popup"> 
    <img src="images/jennifer.png" id = "image5" class="popup">


<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="javascripts/main.js"></script>
	<script src="javascripts/myo.js"></script>
	<script>
		$(document).ready(function(){
			$('.multiple-items').slick({
			  infinite: true,
			  slidesToShow: 5,
			  slidesToScroll: 1,
			  arrows: true
			});
		  $('.carousel').slick();
		});
	</script>
</body>
</html>









