<!doctype html>

<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"  />
	<meta name="viewport" content="width=device-width">
	<title>ideahacks 2016</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />

	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
	<h1 id="title">Beats by Myo</h1>
	<!-- <div class="sidebar-wrapper" id="left">
		<h3 id="title">Recent Beats</h3>
		<div class="sidebar-content" id="browse">

			<div class="browse-item">
				<h4>Track 1</h4>
			</div>
			<div class="browse-item">
				<h4>Track 2</h4>
			</div>
			<div class="browse-item">
				<h4>Track 3</h4>
			</div>
			<div class="browse-item">
				<h4>Track 4</h4>
			</div>
			<div class="browse-item">
				<h4>Track 5</h4>
			</div>
			<div class="browse-item">
				<h4>Track 6</h4>
			</div>
			<div class="browse-item">
				<h4>Track 7</h4>
			</div>
			<div class="browse-item">
				<h4>Track 8</h4>
			</div>
			<div class="browse-item">
				<h4>Track 9</h4>
			</div>
			<div class="browse-item">
				<h4>Track 10</h4>
			</div>
		</div>
	</div>
	<div class="sidebar-wrapper" id="right">
		<h3 id="title">Start Playing!</h3>
		<div class ="sidebar-content" id="key">
			<img src="images/actions.png" id="actions">
		</div>
	</div>
	<div id="wrapper">
		<img src="http://learntoplaydrumsfromtoday.com/wp-content/uploads/2015/06/Drum_kit_illustration.png" id="drumset">
		<div id="pics">
			<img src="https://download.manycam.com/effects/get?f=l&i=8684&v=1.00" id="bass"`>
			<img src="https://s-media-cache-ak0.pinimg.com/736x/d2/b4/80/d2b480bcd8f334606f554ab4cb1f7d77.jpg" id="drum">
		</div>
	</div> -->

	<span id="launchpad">
		<div id="pad1">
		</div>
		<div id="pad2"></div>
		<div id="pad3"></div>
		<div id="pad4"></div>
		<div id="pad5"></div>
	</span>

	<div id="bottom-bar">
		<div id="show"><h3>Instruments</h3></div>
		<div id="instruments">
			<span id="instruments-grid">
				<ul style="padding: 0;">
					<li class="instruments-icon" id="active">1</li>
					<a href="/main2"><li class="instruments-icon">2</li></a>
					<li class="instruments-icon">3</li>
					<li class="instruments-icon">4</li>
				</ul>
			</span>
		</div>
	</div>
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="javascripts/main.js"></script>
	<script src="javascripts/myo.js"></script>
</body>
</html>