#bottom-bar {
  position: fixed;
  bottom: 0;
  /*background-color: black;*/
  height: 100px;
  width: 100%;
  transform: translateY(40%);

  transition, background-size 350ms ease-in-out
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

#bottom-bar:hover {
  transform: translateY(-60%);
  transition, background-size 350ms ease-in-out
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

#show {
  text-align: center;
  background-color: white;
  height: 40%;
  width: 20%;
  margin: 0 auto;

}

#show:hover {
  cursor: pointer;
}

#show h3 {
  font-family: 'Lato', sans-serif;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#instruments {
  height: 100%;
  background-color: black;
  text-align: center;
}

#instruments-grid {
  /*background-color: whitesmoke;*/
  width: 50%;
  height: 60%;
  margin: 0 auto;
  display: block;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

#active {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.instruments-icon  {
  margin: 5px;
  color: black;
  list-style-type: none;
  display: inline-block; 
  padding: 13px 17px;  
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
}

.instruments-icon:hover {
  cursor: pointer;
  transition, background-size 350ms ease-in-out
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  background-color: black;
  color: white;
  border: 1px solid white;
}

#launchpad {
  padding: 20px;
  height: 220px;
  text-align: center;
  display: block;
  background-color: black;
}

#launchpad div {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin: 5px;
  background-color: white;  
  transition: background-color 150ms ease-in-out;
  -webkit-transition: background-color 150ms ease-in-out;
  -moz-transition: background-color 150ms ease-in-out;
  -ms-transition: background-color 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html {
  width:100%;
  height:100%;
}
body {
  overflow: hidden;
  width:100%;
  height:100%;
  margin:0px;
  position:relative;

}
#header {
  position:absolute;
  width:70%;
  left:15%;
}
#title {
  text-align:center;
}
.sidebar-wrapper {
  position:absolute;
  height:85%;
  width:20%;
  top:10%;
}
#left {
  left:4%;
}
#right {
  left:75%;
}
.sidebar-content {
 position:absolute;
 border-style:solid;
 border-color:black;
 border-width:2px;
 height:90%;
 width:87%;
 top:8%; 
}
#browse {
  left:6%;
}
#key {
  left:6%;
}
#actions {
  max-height:500px;
}
#wrapper {
  position:absolute;
  max-width:45%;
  max-height:45%;
  top:50%;
  left:50%;
  overflow:visible;
}
#drumset {
  position:relative;
  max-width:100%;
  max-height:100%;
  margin-top:-50%;
  margin-left:-50%;
}

#bass{
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  height: 50%;
}

#drum{
  display: none;
  position: absolute; 
  top: 500px; 
  left: 70px;
}
